{% extends "/base.html" %}

{% block content %}

<div class="container">
    <h2>Cuentas</h2>

    <div class="row">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Lista de Cuentas /</li>
            </ol>
        </nav>
    </div>
    {% include "/includes/messages.html" %}
    <div class="row mt-4 mb-4">
        <div class="col-md-4">
            <a href="{{url_for('main.crear_cuenta')}}" class="btn btn-success">Nuevo</a>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table id="datatable" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>
                            <!-- TODO: Implementar Seleccionar todo?? -->
                        </th>
                        <th>ID</th>
                        <th class="">Nombre</th>
                        <th>Tipo</th>
                        <th>Saldo</th>
                        <th class="w-15">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cuenta in cuentas %}
                    <tr>
                        <td>
                            <!-- TODO: Implementar Seleccionar para borrado masivo?? -->
                        </td>
                        <td>{{cuenta.id}}</td>
                        <td>{{cuenta.nombre}}</td>
                        <!-- TODO: Preguntar por white-space: nowrap; -->
                        <td>{{cuenta.tipo}}</td>
                        <td>{% if cuenta.tipo=="Propia" %}
                            {{cuenta.saldo}}
                            {% else %}
                            No aplica
                            {% endif %}</td>
                        <td>
                            <a href="{{url_for('main.editar_cuenta', cuenta_id=cuenta.id)}}" class="btn btn-sm btn-info edit"><span class="material-icons">create</span></a>
                            <a href="{{url_for('main.eliminar_cuenta', cuenta_id=cuenta.id)}}" class="btn btn-sm btn-danger remove"><span
                                    class="material-icons">delete</span></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}

    {% include 'includes/datatables.html' %}

{% endblock %}