{% extends "/base.html" %}

{% block content %}
<div class="container">
    <h2>Editar Cuenta</h2>

    <div class="row">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{url_for('main.cuentas')}}">Lista de Cuentas</a></li>
                <li class="breadcrumb-item"><a href="#">Editar Cuenta</a></li>
                <li class="breadcrumb-item active">{{cuenta.nombre}}</li>
            </ol>
        </nav>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <form action="{{url_for('main.editar_cuenta', cuenta_id=cuenta.id)}}" class="form" id="form" method="POST">
                <div class="form-row">
                    <div class="col-md-4 form-group">
                        <label for="nombre">Nombre Cuenta:</label>
                        <input type="text" name="nombre" id="nombre" required class="form-control" value="{{cuenta.nombre}}">
                        <div class="invalid-feedback">
                            Debe ingresar un nombre para la cuenta
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <!-- TODO: Cambiar a select button picker -->
                        <select class="selectpicker" required name="tipo" id="tipo" data-style="btn btn-sm btn-round w-100"
                            title="Tipo Cuenta">
                            <option disabled>Seleccione Tipo Cuenta</option>
                            {% for key, value in tipos.items() %}
                            <option {% if cuenta.tipo==key %} selected {% endif %} value="{{ key }}">{{ value }}
                            </option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">
                            Debe seleccionar un tipo de cuenta
                        </div>
                    </div>
                    <div class="col-md-3 form-group {% if cuenta.tipo!='propia' and cuenta.tipo!='deuda' %} d-none {% endif %}" id="divSaldo">
                        <!-- TODO: Añadir d-none y quitar dinamicamente al elegir Propia -->
                        <label for="saldo">Saldo Inicial</label>
                        <input {% if cuenta.tipo=='propia' or cuenta.tipo=='deuda' %} required {% endif %} type="text" name="saldo" data-type="currency" id="saldo" class="form-control" value="{{cuenta.saldo}}">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-primary">Guardar Cuenta</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="/static/js/validator.js"></script>
<script>

$(document).ready(function() {
    setFormValidation('#form');
    $("#tipo").on('change', function () {
        if($(this).val() == "propia" || $(this).val() == "deuda"){
            $("#divSaldo").removeClass('d-none');
            $("#saldo").attr("required", "required");
        }else{
            $("#divSaldo").addClass('d-none');
            $("#saldo").removeAttr("required");
        }
    })
  });
</script>
{% endblock %}