<footer class="footer">
    <div class="container-fluid">
      <nav class="float-left">
        <ul>
          <li>
            <a href="javascript:void(0)">
              I don't 
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              know what
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              i can
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              place here
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, Made <i class="material-icons">directions_run</i> by
        <a href="https://cjcruzrivera.github.io/" target="_blank">Camilo Cruz</a> for who can need.
      </div>
    </div>
  </footer>