{% extends "/base.html" %}

{% block content %}
<div class="container">
    <h2>Crear Transaccion</h2>

    <div class="row">
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{url_for('main.transacciones')}}">Lista de Transacciones</a></li>
                <li class="breadcrumb-item active">Nueva Transaccion</li>
            </ol>
        </nav>
    </div>
    {% include 'includes/messages.html' %}
    <div class="row">
        <div class="col-md-12">
            <form action="{{url_for('main.crear_transaccion')}}" class="form" method="POST">
                <div class="form-row">
                    <div class="col-md-3 form-group">
                        <select class="selectpicker" name="origen" data-style="btn btn-sm btn-primary btn-round w-100" title="Cuenta Origen de la Transaccion">
                            <option disabled selected>Cuenta Origen</option>
                            {% for cuenta in cuentas %}
                                <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <select class="selectpicker" name="destino" data-style="btn btn-sm btn-primary btn-round w-100" title="Cuenta Destino de la Transaccion">
                            <option disabled selected>Cuenta Destino</option>
                            {% for cuenta in cuentas %}
                                <option value="{{cuenta.id}}">{{cuenta.nombre}}</option>
                            {% endfor %}
                          </select>
                    </div>

                    <div class="col-md-3 form-group">
                        <!-- TODO: Añadir d-none y quitar dinamicamente al elegir Propia -->
                        <label for="total">Valor</label>
                        <input type="number" name="total" id="total" class="form-control">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-1 mt-0 mt-md-4">
                        <select class="selectpicker" name="realiza" data-style="btn btn-sm btn-primary btn-round w-100" title="Usuario el cual realizó la transaccion">
                            <option disabled selected>Quien Realiza</option>
                            {% for usuario in usuarios %}
                                <option value="{{usuario.id}}"> {{usuario.nombre_completo}}</option>
                            {% endfor %}
                          </select>
                    </div>
                    <div class="col-md-4">
                        <label class="label-control" for="nombre">Fecha:</label>
                        <input type="text" class="form-control datetimepicker" name="fecha_realiza" value=""/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mt-2 mt-md-3">
                        <button type="submit" class="btn btn-primary">Guardar Transaccion</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- TODO: Añadir validator -->
{% block extrajs %}
  <script>
    $('.datetimepicker').datetimepicker({
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-chevron-up",
            down: "fa fa-chevron-down",
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
        }
    });
  </script>
{% endblock %}